{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template qtype_answersheet/answersheet_question

    The question to display

    Example context (json):
    {
        "pdffiles": [{"url" : "http://documentfileurl"},{"url" : "http://documentfileurl2"}]
        "audiofiles": [{"url" : "http://audiofileurl"},{"url" : "http://audiofileurl2"}]
        "questions" : [
            { "answers": [{"label":"A", "value":1, "selected": true}, {"label":"B", "value":2}, {"label":"C", "value":3}, {"label":"D", "id":4}], "feedback": "myfeedback", "id": "myfirstinputid"}
            { "answers": [{"label":"A", "value":1}, {"label":"B", "value":2}, {"label":"C", "value":3}, {"label":"D", "id":4}], "feedback": "myfeedback", "id": "mysecondinputid"}
        ]
    }
}}
<link rel="stylesheet" type="text/css" href="{{{cssurl}}}">
<div class="answersheet_question" data-region="answersheet_question" data-questionid="{{questionid}}">
    <div class="qtext">
        {{{questiontext}}}
    </div>
    <div class="row">
        {{#pdffiles}}
            <div class="col-12">
                <div class="documentpdf">
                    <span>{{name}}</span>
                    <object class="docpdf" id="documentpdf-{{uniqid}}" data="{{url}}" type="application/pdf" width="100%" height="600">
                        <param name="src" value="{{url}}"/>
                    </object>
                    {{#js}}
                        require(['qtype_answersheet/maximise-document'], function(Maximise) {
                        Maximise('documentpdf-{{uniqid}}');
                        });
                    {{/js}}
                    <a class="btn btn-outline-secondary mt-1 mb-3" href="{{{viewurl}}}" target="_blank">{{#str}}viewlarge, qtype_answersheet{{/str}}</a>
                </div>
            </div>
        {{/pdffiles}}
    </div>
    <div class="row">
        {{#audiofiles}}
            <div class="col-12 col-md-6 my-4">
                <div class="d-flex flex-column">
                    <div class="h4 ml-3">{{name}}</div>
                    <audio controls src="{{url}}"></audio>
                </div>
            </div>
        {{/audiofiles}}
    </div>
    {{#modules}}
        {{#radiochecked}}
            <table class="table table-bordered table-questions radiochecked">
                <thead>
                    <tr>
                        <th class="fixedwidth-100"></th>
                        <th class="modulename" colspan="{{{colspan}}}">
                            {{{modulename}}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                {{#questions}}
                    <tr>
                        <td class="questionname">
                            <strong>{{{name}}}</strong>
                        </td>
                        {{#answers}}
                            <td class="fixedwidth-100 {{additionalclass}}">
                                <div class="d-flex flex-column align-items-center">
                                    <strong>{{label}}</strong>
                                    <input class="input" type="radio" value="{{value}}" name="{{id}}" {{#selected}}checked{{/selected}}>
                                </div>
                                {{{feedbackimage}}}
                            </td>
                        {{/answers}}
                        {{#feedback}}
                            <td>
                                <button type="button" class="btn btn-info" data-container="body"  data-toggle="popover" data-placement="top" title="{{.}}">?</button>
                            </td>
                        {{/feedback}}
                    </tr>
                    {{#showanswer}}
                        {{^iscorrect}}
                            <tr>
                                <td class=""></td>
                                <td class="incorrect" colspan="{{{colspan}}}">
                                    {{#str}}correctanswer, qtype_answersheet, {{{answer}}}{{/str}}
                                </td>
                            </tr>
                        {{/iscorrect}}
                    {{/showanswer}}
                {{/questions}}
                </tbody>
            </table>
        {{/radiochecked}}

        {{#freetext}}
            <table class="table table-bordered table-questions freetext">
                <thead>
                    <tr>
                        <th class="fixedwidth-100"></th>
                        <th class="modulename">
                            {{{modulename}}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                {{#questions}}
                    <tr>
                        <td class="questionname">
                            <strong>{{{name}}}</strong>
                        </td>
                        <td class="{{additionalclass}}">
                            <div class="d-flex flex-column align-items-center">
                                <input class="input form-control text-500" type="text" value="{{response}}" name="{{id}}">
                            </div>
                        </td>
                        {{#feedback}}
                            <td>
                                <button type="button" class="btn btn-info" data-container="body"  data-toggle="popover" data-placement="top" title="{{.}}">?</button>
                            </td>
                        {{/feedback}}
                    </tr>
                    {{#showanswer}}
                        {{^iscorrect}}
                            <tr>
                                <td class=""></td>
                                <td class="incorrect" colspan="{{{colspan}}}">
                                    {{#str}}correctanswer, qtype_answersheet, {{{correctanswer}}}{{/str}}
                                </td>
                            </tr>
                        {{/iscorrect}}
                    {{/showanswer}}
                {{/questions}}
                </tbody>
            </table>
        {{/freetext}}

        {{#letterbyletter}}
            <table class="table table-bordered table-questions letterbyletter">
                <thead>
                    <tr>
                    <th class="fixedwidth-100"></th>
                        <th class="modulename" colspan="{{{colspan}}}">
                            {{{modulename}}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                {{#questions}}
                    <tr data-region="letterbyletterquestion">
                        <td class="questionname">
                            <strong>{{{name}}}</strong>
                            <input type="hidden" name="{{id}}" data-region="hiddeninput" data-id="{{id}}" value="{{response}}">
                        </td>
                        {{#answers}}
                            <td class="fixedwidth-100 {{additionalclass}}">
                                <div class="d-flex flex-column align-items-center">
                                    <input class="input letterinput" type="text" data-region="letterinput" data-index="{{index}}">
                                </div>
                                {{{feedbackimage}}}
                            </td>
                        {{/answers}}
                        {{#feedback}}
                            <td>
                                <button type="button" class="btn btn-info" data-container="body"  data-toggle="popover" data-placement="top" title="{{.}}">?</button>
                            </td>
                        {{/feedback}}
                    </tr>
                    {{#showanswer}}
                        {{^iscorrect}}
                            <tr>
                                <td class=""></td>
                                <td class="incorrect" colspan="{{{colspan}}}">
                                    {{#str}}correctanswer, qtype_answersheet, {{{correctanswer}}}{{/str}}
                                </td>
                            </tr>
                        {{/iscorrect}}
                    {{/showanswer}}
                {{/questions}}
                </tbody>
            </table>
        {{/letterbyletter}}
    {{/modules}}
</div>
{{#js}}
require(['qtype_answersheet/local/questions'], function(questions) {
    const element = document.querySelector('[data-region="answersheet_question"]');
    questions.init(element, {{questionid}});
});
{{/js}}