{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template qtype_answersheet/table/columns

    TODO describe template columns

    Example context (json):
    {
        "mustacheonly": true,
        "columns": [
            {
            "column": "cct_ept",
            "type": "select",
            "select": true,
            "visible": false,
            "label": "CCT / EPT",
            "columnid": 6,
            "length": 20,
            "field": "float",
            "sample_value": "",
            "options": [
                {
                "name": "Autre",
                "selected": false
                },
                {
                "name": "CCT",
                "selected": false
                },
                {
                "name": "EPT",
                "selected": false
                }
            ]
            },
            {
            "column": "dd_rse",
            "type": "select",
            "select": true,
            "visible": false,
            "label": "DD / RSE",
            "columnid": 7,
            "length": 20,
            "field": "float",
            "sample_value": "",
            "options": [
                {
                "name": "Autre",
                "selected": false
                },
                {
                "name": "Sans lien avec DD/RSE",
                "selected": false
                },
                {
                "name": "DD/RSE",
                "selected": false
                }
            ]
            },
            {
            "column": "type_ae",
            "type": "select",
            "select": true,
            "visible": false,
            "label": "Type AEEEV",
            "columnid": 8,
            "length": 10,
            "field": "select",
            "sample_value": "TC",
            "options": [
                {
                "name": "CM",
                "selected": false
                },
                {
                "name": "TD",
                "selected": false
                },
                {
                "name": "TP",
                "selected": false
                },
                {
                "name": "TPa",
                "selected": false
                },
                {
                "name": "TC",
                "selected": false
                },
                {
                "name": "AAS",
                "selected": false
                },
                {
                "name": "FMP",
                "selected": false
                }
            ]
            },
            {
            "column": "intitule_seance",
            "type": "text",
            "text": true,
            "visible": true,
            "label": "Intitulé de la séance / de l’exercice",
            "columnid": 19,
            "length": 255,
            "field": "text",
            "sample_value": "..."
            },
            {
            "column": "cm",
            "type": "float",
            "float": true,
            "visible": true,
            "label": "CM",
            "columnid": 20,
            "length": 10,
            "field": "float",
            "sample_value": "0,0",
            "min": 0,
            "max": 99
            },
            {
            "column": "td",
            "type": "float",
            "float": true,
            "visible": true,
            "label": "TD",
            "columnid": 21,
            "length": 10,
            "field": "float",
            "sample_value": "0,0",
            "min": 0,
            "max": 99
            },
            {
            "column": "tp",
            "type": "float",
            "float": true,
            "visible": true,
            "label": "TP",
            "columnid": 22,
            "length": 10,
            "field": "float",
            "sample_value": "0,0",
            "min": 0,
            "max": 99
            },
            {
            "column": "tpa",
            "type": "float",
            "float": true,
            "visible": true,
            "label": "TPa",
            "columnid": 23,
            "length": 10,
            "field": "float",
            "sample_value": "0,0",
            "min": 0,
            "max": 99
            },
            {
            "column": "tc",
            "type": "int",
            "int": true,
            "visible": true,
            "label": "TC",
            "columnid": 24,
            "length": 10,
            "field": "int",
            "sample_value": "0",
            "min": 0,
            "max": 99
            },
            {
            "column": "aas",
            "type": "float",
            "float": true,
            "visible": true,
            "label": "AAS",
            "columnid": 25,
            "length": 10,
            "field": "float",
            "sample_value": "0,0",
            "min": 0,
            "max": 99
            },
            {
            "column": "fmp",
            "type": "float",
            "float": true,
            "visible": true,
            "label": "FMP",
            "columnid": 26,
            "length": 10,
            "field": "float",
            "sample_value": "0,0",
            "min": 0,
            "max": 99
            },
            {
            "column": "perso_av",
            "type": "float",
            "float": true,
            "visible": true,
            "label": "Perso av",
            "columnid": 27,
            "length": 10,
            "field": "float",
            "sample_value": "0,0"
            },
            {
            "column": "perso_ap",
            "type": "float",
            "float": true,
            "visible": true,
            "label": "Perso ap",
            "columnid": 28,
            "length": 10,
            "field": "float",
            "sample_value": "0,0",
            "min": 0,
            "max": 99
            },
            {
            "column": "consignes",
            "type": "text",
            "text": true,
            "visible": true,
            "label": "Consignes de travail pour préparer la séance",
            "columnid": 29,
            "length": 10,
            "field": "select",
            "sample_value": "..."
            },
            {
            "column": "supports",
            "type": "text",
            "text": true,
            "visible": true,
            "label": "Supports pédagogiques essentiels",
            "columnid": 30,
            "length": 10,
            "field": "select",
            "sample_value": "..."
            }
        ]
    }
}}
{{#mustacheonly}}
    <table>
        <tr>
{{/mustacheonly}}
{{#columns}}
    {{#editor}}
        {{#visible}}
            <th class="{{#float}}float {{/float}}{{#int}}int {{/int}}{{column}}">{{{label}}}</th>
        {{/visible}}
    {{/editor}}
    {{^editor}}
        {{#visible}}
            <th class="{{#float}}float {{/float}}{{#int}}int {{/int}}{{column}}">{{{label}}}</th>
        {{/visible}}
    {{/editor}}
{{/columns}}
{{#editor}}
<th>{{#str}}actions, plugin {{/str}}</th>
{{/editor}}
{{#mustacheonly}}
        </tr>
    </table>
{{/mustacheonly}}
